= form_for @guideline, html: {class: 'form-horizontal'} do |f|

  = if @guideline.errors.any?
    #error_explanation
      %h2= "#{pluralize(@guideline.errors.count, "Error")} prohibited this guideline from being saved"
      %ul
        - @guideline.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10.input_wrapper
      = f.text_field :name

  .field.form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10.input_wrapper
      = f.text_field :description

  .field.form-group
    = f.label :true_description, class: 'col-sm-2 control-label'
    .col-sm-10.input_wrapper
      = f.text_field :true_description

  .field.form-group
    = f.label :false_description, class: 'col-sm-2 control-label'
    .col-sm-10.input_wrapper
      = f.text_field :false_description

  .field.form-group
    %label.col-sm-2.control-label
    .col-sm-10.input_wrapper
      = f.submit
