= form_for @archetype, html: {class: 'form-horizontal'} do |f|

  = if @archetype.errors.any?
    #error_explanation
      %h2= "#{pluralize(@archetype.errors.count, 'Error')} prohibited this practice from being saved"
      %ul
        - @archetype.errors.full_messages.each do |msg|
          %li= msg  


  .field.form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10.input-wrapper
      = f.text_field :name

  .field.form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10.input-wrapper
      = f.text_field :description

  - form_for [@archetype, @practice], html: {class: 'form-horizontal'} do |pf|
    = render :partial => 'practices/form_contents', :practice => @practice, :locals => {:f => pf}

  .field.form-group
    %label.col-sm-2.control-label
    .col-sm-10.input-wrapper
      = f.submit


