= content_for :head do
  %title= "Archetype >> #{@archetype.name}"

.container
  .page-header
    %h1="Archetype >> #{@archetype.name}"
    - if access_to_action(:delete)
      =link_to("Delete", archetype_path(@archetype), class: 'btn btn-xs btn-danger object_action', method: :delete)
    - if access_to_action(:edit)
      =link_to("Edit", edit_archetype_path(@archetype), class: 'btn btn-xs btn-info object_action')

  .page-body
    %p= @archetype.description

    = render 'practices/panel_list'

  .panel.panel-default
    .panel-heading
      %h2 Add a Practice
    .panel-body
      = render 'practices/form'
