= content_for :head do
  %title= "#{@archetype.name} Archetype"

.container
  .page-header
    %h1="#{@archetype.name} Archetype"
    =link_to("Delete", archetype_path(@archetype), class: 'btn btn-xs btn-danger object_action', method: :delete)
    =link_to("Edit", edit_archetype_path(@archetype), class: 'btn btn-xs btn-info object_action')

  .page-body
    %p= @archetype.description

  .panel.panel-default
