%header

  %nav.navbar.navbar-inverse.navbar-static-top
    .container-fluid
      .navbar-header
        %a.navbar-brand{href: "/"}= Rails.application.config.name
        - if mobile?
          %span.menu.button.glyphicon.glyphicon-plus
      %ul.navbar-nav.nav{class: not_mobile}
        - header_links.each do |name, info|
          - active_attribute = (name == active_page) ? "active" : ""
          %li{class: active_attribute}= link_to info.first, info.last

      %ul.navbar-nav.nav.navbar-right{class: not_mobile}
        - if !current_user.nil?
          - if current_user.admin?
            %li
              = link_to 'Admin', admin_dashboard_path
        - if user_signed_in?
          %li.user_session
            =link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          %li.user_session
            =link_to "Sign In", new_user_session_path


  .flash
    %p.notice{class: (notice.nil? ? "hidden" : "")}
      %span.glyphicon.glyphicon-info-sign
      = notice
    %p.alert{class: (alert.nil? ? "hidden" : "")}
      %span.glyphicon.glyphicon-warning-sign
      = alert
