= form_tag( {:action => "index"}, {:method => "get", :class => 'form-horizontal search'} ) do |form|

  = render partial: "search_standard", locals: {only_standard_options: false}

  .bar

    = render "search_advanced"

    .field.form-group.hidden
      = label_tag("submit", " ", {class: "col-sm-2 control-label"})        
      .col-sm-10.input_wrapper
        = submit_tag("Search")

.search-errors

  - @errors.each do |e|
    .error
      %span Error:
      %span= e[:message]
