.advanced-search{:class => (@searched ? "" : "collapse-options") }

  %span.advanced-option.badge-filter
    %h4 Badge
    %span.value
      .input-group
        - placeholder = mobile? ? "... by Badge" : ""
        = label_tag("badge[name]", "Name", {class: 'input-group-addon'})
        = autocomplete_field(:badge, :name, autocomplete_badge_name_companies_path, :update_elements => {:id => "#badge_id"}, :class => "form-control", :value => (@searched ? params[:badge][:name] : ""), :placeholder => placeholder )
        %input#badge_id.hidden{:name => "badge[id]", :value => (@searched ? params[:badge][:id] : "")}

  %span.advanced-option.practice-filter
    %h4 Practice
    %span.value
      .input-group
        - placeholder = mobile? ? "... by Practice" : ""
        = label_tag("guideline[name]", "Name", {class: "input-group-addon"})
        = autocomplete_field(:guideline, :name, autocomplete_guideline_name_companies_path, :update_elements => {:id => "#guideline_id"}, :class => "form-control guideline-name", :value => (@searched ? params[:guideline][:name] : ""), :placeholder => placeholder )
        %input#guideline_id.hidden{:name => "guideline[id]", :value => (@searched ? params[:guideline][:id] : "") }

    - if mobile?
      %span
        .input-group
          = render 'search_implementation'
    - else
      = render 'search_implementation'
