= form_tag( {:action => "index"}, {:method => "get", :class => 'form-horizontal search'} ) do |form|

  .bar
    %span{class: mobile? ? "" : "col-sm-10"}
      .input-group
        %span.input-group-addon Search
        - placeholder = mobile? ? 'Search by Name' : '... by name'
        = autocomplete_field(:company, :name, autocomplete_company_name_companies_path, {class: 'form-control', placeholder: placeholder, value: (@searched ? params[:company][:name] : "")})
        - if mobile?
          %span.btn.btn-primary.glyphicon.glyphicon-search.submit-search
          %span.btn.btn-default.glyphicon.glyphicon-plus.toggle-options

    - if !mobile?
      %span.options.col-sm-2
        %span.btn.btn-primary.glyphicon.glyphicon-search.submit-search
        %span.btn.btn-default.glyphicon.glyphicon-plus.toggle-options

  .advanced-search{:class => (@searched ? "" : "collapse-options") }

    %span.advanced-option.badge-filter
      %h4 Badge
      %span.value
        .input-group
          - placeholder = mobile? ? "... by Badge" : ""
          = label_tag("badge[name]", "Name", {class: 'input-group-addon'})
          = autocomplete_field(:badge, :name, autocomplete_badge_name_companies_path, :update_elements => {:id => "#badge_id"}, :class => "form-control", :value => (@searched ? params[:badge][:name] : ""), :placeholder => placeholder )
          %input#badge_id.hidden{:name => "badge[id]", :value => (@searched ? params[:badge][:id] : "")}

    %span.advanced-option.practice-filter
      %h4 Practice
      %span.value
        .input-group
          - placeholder = mobile? ? "... by Practice" : ""
          = label_tag("guideline[name]", "Name", {class: "input-group-addon"})
          = autocomplete_field(:guideline, :name, autocomplete_guideline_name_companies_path, :update_elements => {:id => "#guideline_id"}, :class => "form-control guideline-name", :value => (@searched ? params[:guideline][:name] : ""), :placeholder => placeholder )
          %input#guideline_id.hidden{:name => "guideline[id]", :value => (@searched ? params[:guideline][:id] : "") }

      - if mobile?
        %span
          .input-group
            = render 'search_implementation'
      - else
        = render 'search_implementation'


    .field.form-group.hidden
      = label_tag("submit", " ", {class: "col-sm-2 control-label"})        
      .col-sm-10.input_wrapper
        = submit_tag("Search")

.search-errors

  - @errors.each do |e|
    .error
      %span Error:
      %span= e[:message]
