.container
  = content_for :head do
    %title= "Compare #{@a.name} :: #{@b.name} Practices"

  .page-header
    %h1= "Compare #{@a.name} :: #{@b.name} Practices"


  .panel.panel-primary
    .panel-heading
      %h2 Impact Factor
    .panel-body        
    %table.table
      %tr.info
        %th= @a.name
        %th= @b.name
      %tr
        %td= @a.impact_factor
        %td= @b.impact_factor

  .panel.panel-primary
    .panel-heading
      %h2 Badges
    .panel-body
    %table.table.badges
      %tr.info
        %th 
        - if !mobile?
          %th
        %th= @a.name
        %th= @b.name
      - @all_badge_names.each do |name|
        - b = @a_badges[name].nil? ? @b_badges[name] : @a_badges[name]
        %tr
          %td          
            %a.badge-row{:href => badge_path(b)}
              - badge_size = mobile? ? "medium" : ""
              = render partial: "shared/badge", object: b, locals: {size: badge_size}
          - if !mobile?
            %td          
              %a.badge-row{:href => badge_path(b)}
                %span.name
                  %h4= name
          %td.state
            - if @a_badges[name].nil?
              %span.glyphicon.glyphicon-remove
            - else
              %span.glyphicon.glyphicon-ok
          %td.state
            - if @b_badges[name].nil?
              %span.glyphicon.glyphicon-remove
            - else
              %span.glyphicon.glyphicon-ok
  .panel.panel-primary
    .panel-heading
      %h2 Practices
    .panel-body
    %table.table
      %tr.info
        %th Guideline
        %th= "#{@a.name} Practice"
        %th= "#{@b.name} Practice"
      - @all_guideline_ids.each do |g_id, g_name|
        %tr
          %td= g_name
          %td= @a_practices[g_id].nil? ? "?" : @a_practices[g_id]
          %td= @b_practices[g_id].nil? ? "?" : @b_practices[g_id]
