.container
  = content_for :head do
    %title= "Edit #{@company.name}"

  .page-header
    %h1
      = @company.name
      %small Edit Info:    

  = render 'form'

  = link_to 'Back', @company, {class: 'btn btn-default'}
