.container
  .page-header
    %h1 Companies
    %p Browse Companies for detailed health information
    - if access_to_action(:new)
      =link_to("New", new_company_path, {class: 'btn btn-xs btn-info object_action'})

  = render 'search'

  %table.table
    %tr.info
      %th Name
      %th Badges
      %th 
        Impact Factor
        = render "sort_buttons"
      - if (can? :edit, Company) || (can? :delete, Company)
        %th Actions
    - @companies.each do |c|
      %tr
        %td
          = link_to c.name, c
        %td.badges
          %table
            %tr
              - c.badges.each do |b|
                %td.badge-column
                  = render partial: "shared/badge", object: b, locals: {size: 'small'}
        %td= c.impact_factor
        - if (can? :edit, Company) || (can? :delete, Company)
          %td.actions.btn-group.btn-group-xs.btn-group-link
            - if can? :edit, Company
              =link_to("Edit", edit_company_path(c), {class: "btn btn-xs btn-info"})
            - if can? :delete, Company
              =link_to("Delete", company_path(c), class: "btn btn-xs btn-danger", method: :delete, data: {confirm: 'Are you sure?'})
