.container
  = content_for :head do
    %title= "#{@company.name} Practices"

  .page-header
    %h1= "Companies >> #{@company.name}"
    %a.btn.btn-default{:href => @company.url, :target => "_blank"} Visit Website
    %button.btn.btn-default.compare_view Compare
    - if access_to_action(:edit)
      %a=link_to("Edit", edit_company_path(@company), {class: 'btn btn-xs btn-info page_edit'})

  .panel.panel-default.compare_helper.hidden
    .panel-heading Find a Company To Compare:
    .panel-body
      = form_tag( {:action => "index"}, {:method => "get", :class => 'form-horizontal search compare'} ) do |form|

        %input#this_company.hidden{:type=>"text",:value=>@company.slug}     

        .bar
          %span{class: mobile? ? "" : "col-sm-10"}
            .input-group
              %span.input-group-addon Search
              = autocomplete_field(:company, :name, autocomplete_company_name_companies_path, {class: 'form-control', placeholder: '... by name', value: (@searched ? params[:company][:name] : "")})
          %span{class: mobile? ? "" : "col-sm-2"}
            %button.btn.btn-info.compare Compare



  .panel.panel-default
    .panel-heading Description
    .panel-body
      %p= @company.description

  %h3="Impact Factor: #{@company.impact_factor.nil? ? 'n/a' : @company.impact_factor}"

  .panel.panel-primary.badges-panel
    .panel-heading 
      %h2 Awarded Badges
    .panel-body
      %table.table
        %tr.info
          %th Badge
          %th Name
        - @company.badges.each do |b|
          %tr
            %td
              %a.badge-row{:href => badge_path(b)}
                = render partial: "shared/badge", object: b, locals: {size: 'large', inverted: true}
            %td.name
              =link_to b.name.split("_").collect {|w| w.capitalize}.join(" "), badge_path(b)

  = render 'practices/panel_list'

  - if can? :mutate, @company
    .panel.panel-default
      .panel-heading
        %h2 Add a Practice
      .panel-body
        = render 'practices/form'

  - if @company.articles.size > 0
    = render 'articles/panel_list'
