%h1= @company.name

%a{:href => @company.url} Website

%hr

%p= @company.description

%a=link_to("Edit", edit_company_path(@company))

%h2 Practices:

%table
  - @company.practices.each do |p|
    %tr
      %td= p.implementation
      %td= p.notes
      %td= p.guideline
      %td= link_to('Delete', company_practice_path(@company,p), method: :delete) 


%h2 Add a Practice

= form_for ([@company, @company.practices.build]) do |f|
  %p 
    = f.label :implementation
    = f.number_field :implementation

  %p
    = f.label :notes
    = f.text_field :notes

  %p
    = select_tag(:guideline_id, options_for_select(@enumerated_guidelines))

  = f.submit

  
