.container
  = content_for :head do
    %title= "#{@company.name} Practices"

  .page-header
    %h1= "Companies >> #{@company.name}"
    %a{:href => @company.url, :target => "_blank"} Visit Website
    %a=link_to("Edit", edit_company_path(@company), {class: 'btn btn-xs btn-info page_edit'})

  .panel.panel-default
    .panel-heading Description
    .panel-body     
      %p= @company.description

  %h3 Badges:
  %ul.list-group
    - @company.badges.each do |b|
      %li.list-group-item
        %a.badge-row{:href => archetype_path(b.archetype)}
          = render partial: "badges/badge", object: b, locals: {size: ''}
          %span.name
            %h4= b.archetype.name.split("_").collect {|w| w.capitalize}.join(" ")



  = render 'practices/panel_list'

  .panel.panel-default
    .panel-heading
      %h2 Add a Practice
    .panel-body
      = render 'practices/form'
  
