%h1= @company.name

%a{:href => @company.url} Website

%hr

%p= @company.description

%a=link_to("Edit", edit_company_path(@company))

%h2 Practices:

%table
  - @company.practices.each do |p|
    %tr
      %td= p.implementation
      %td= p.notes
      / Need to add guideline info here as well


%h2 Add a Practice

= form_for ([@company, @company.practices.build]) do |f|
  %p 
    = f.label :implementation
    = f.number_field :implementation

  %p
    = f.label :notes
    = f.text_field :notes

  = f.submit

