= content_for :head do
  %title= "#{@company.name} Practices"

%h1= @company.name

%a{:href => @company.url} Website

%hr

%p= @company.description

%a=link_to("Edit", edit_company_path(@company))

%h2 Practices:

%table
  %tr
    %th Name
    %th Implementation
    %th Notes
    %th{colspan: 2} Actions
  - @company.practices.each do |p|
    %tr
      %td= p.guideline.name
      %td= p.implementation_text
      %td= p.notes
      %td= link_to('Show', company_practice_path(@company,p)) 
      %td= link_to('Edit', edit_company_practice_path(@company,p)) 
      %td= link_to('Delete', company_practice_path(@company,p), method: :delete) 


%h2 Add a Practice

= render 'practices/form'
  
