.container
  = content_for :head do
    %title= "#{@company.name} Practices"

  .page-header
    %h1= @company.name
    %a{:href => @company.url, :target => "_blank"} Visit Website
    %a=link_to("Edit", edit_company_path(@company), {class: 'btn btn-xs btn-info page_edit'})

  %p= @company.description


  %h2 Practices:

  %table.table
    %tr.info
      %th Name
      %th Implementation
      %th Notes
      %th Actions
    - @company.practices.each do |p|
      %tr
        %td= p.guideline.name
        %td= p.implementation_text
        %td= p.notes
        %td.actions
          = link_to('Show', company_practice_path(@company,p), {class: 'btn btn-xs btn-info'})
          = link_to('Edit', edit_company_practice_path(@company,p), {class: 'btn btn-xs btn-info'}) 
          = link_to('Delete', company_practice_path(@company,p), class: 'btn btn-xs btn-danger', method: :delete) 


  .panel.panel-default
    .panel-heading
      %h2 Add a Practice
    .panel-body
      = render 'practices/form'
  
