= form_for [@company, @practice] do |f|
  %p 
    = f.label :implementation
    = select_tag('practice[implementation]', options_for_select(enumerated_implementations, :selected => @practice.implementation))

  %p
    = f.label :notes
    = f.text_field :notes

  %p
    = f.label :guideline_id
    = select_tag('practice[guideline_id]', options_for_select(enumerated_guidelines, :selected => @practice.guideline_id))

  = f.submit
