= form_tag company_practices_batch_create_path(@company), method: :post,  html: {class: 'form-horizontal'} do
  = if @practices.errors.any?
    #error_explanation
      %h2= "#{pluralize(@practices.errors.count, "Error")} prohibited this practice from being saved"
      %ul
        - @practices.errors.full_messages.each do |msg|
          %li= msg
  %table

    - enumerated_guidelines.each do |tag, guidelines|


      %tr
        %td= tag

      - guidelines.each do |g|
        %tr
          %td
            = check_box_tag 'practices[][enabled]', g.id
          %td
            - # this will be hidden, but for now show:
            .field.form-group
              = label_tag 'practices[][guideline_id]', g.name, class: 'col-sm-2 control-label'
              .col-sm-10.input_wrapper
                = select_tag 'practices[][guideline_id]', 'z', :value => g.id

          %td
            .field.form-group.hidden
              = label_tag :legal_document_id, "Legal Document", class: 'col-sm-2 control-label'
              .col-sm-10.input_wrapper
                = select_tag('practices[][legal_document_id]', options_for_select(enumerated_legal_documents(@company), :selected => @practice.legal_document_id), :include_blank => true)

          %td
            .field.form-group
              = label_tag :implementation, "Implementation", class: 'col-sm-2 control-label'
              .col-sm-10.input_wrapper
                = select_tag('practices[][implementation]', options_for_select(enumerated_implementations, :selected => @practice.implementation), :include_blank => true)

          %td
            .field.form-group
              = label_tag :notes, "Notes", class: 'col-sm-2 control-label'
              .col-sm-10.input_wrapper
                = text_field_tag 'practices[][notes]'

  .field.form-group
    %label.col-sm-2.control-label
    .col-sm-10.input_wrapper
      = submit_tag
