.panel.panel-primary
  .panel-heading
    %h2 Practices
  .panel-body
    %p
      The following is a list of practices that #{@company.name} follows. Click on a practice to understand what it means to follow that practice.
  %table.table
    %tr.info
      %th Name
      - if !mobile?
        %th Doc
      %th Implementation
      - if !mobile?
        %th Notes
      - if (can? :show, Practice) || (can? :edit, Practice) || (can? :delete, Practice)
        %th Actions
    - @company.practices.each do |p|
      %tr
        %td= p.guideline.name
        - if !mobile?
          %td= p.legal_document.nil? ? "" : p.legal_document.name
        %td= p.implementation_text
        - if !mobile?
          %td= p.notes
        %td.actions
          - if can? :show, Practice
            = link_to('Details', polymorphic_path([@company,p]), {class: 'btn btn-xs btn-info'})
          - if can? :edit, Practice
            = link_to('Edit', edit_polymorphic_path([@company,p]), {class: 'btn btn-xs btn-info'})
          - if can? :delete, Practice
            = link_to('Delete', polymorphic_path([@company,p]), class: 'btn btn-xs btn-danger', method: :delete)
