%h1 All Practices
%p This view for debug purposes only

%table
  - @practices.each do |p|
    %tr
      %td= p.guideline.name
      %td= p.implementation_text
      %td= p.notes
      - if access_to_action(:show)
        %td= link_to('Show', company_practice_path(p.company,p)) 
      - if access_to_action(:edit)
        %td= link_to('Edit', edit_company_practice_path(p.company,p)) 
      - if access_to_action(:delete)
        %td= link_to('Delete', company_practice_path(p.company,p), method: :delete) 

