= content_for :head do
  %title= "#{@practice.company.name}'s practices regarding #{@practice.guideline.name}"

.container
  %h1
    ="#{@practice.company.name}'s practices"

  %h2
    Guideline: 
    =@practice.guideline.name

  .panel.panel-default
    .panel-heading
      %h3.panel-title Criteria
    .panel-body
      %p= @practice.guideline.description
      %table.table
        %tr.info
          %th Criterion
          %th Condition
        %tr
          %td Criteria that MUST be met to follow this guideline:
          %td= @practice.guideline.true_description
        %tr
          %td Criteria that MUST be met to fail to implement this guideline:
          %td= @practice.guideline.false_description

      %p
        For more details,
        =link_to "read about this guideline.", @practice.guideline

  %h2 Implementation
  .panel.panel-default
    .panel-heading
      %h3.panel-title= "How does #{@practice.company.name} implement #{@practice.guideline.name}?"
    .panel-body
      %p
        ="#{@practice.company.name}'s implementation: #{@practice.implementation_text}"
      %p
        ="#{@practice.implementation_text} means: #{@description}"
