%h1="Practice - #{@practice.id}"

%p="Belongs to (#{@practice.company_id})"

%p="Guideline: (#{@practice.guideline})"

%p="(#{ @g})"

%p="(#{ @c })"

%br

%p= @practice.inspect

%br

%p= @practice.methods.sort
