= content_for :head do
  %title= @practice.guideline.normalized_name

.container
  .page-header
    %h1= @practice.guideline.normalized_name

  .panel.panel-primary
    .panel-heading
      %h3 Implementation
      - if mobile?
        %span.btn.implementation_status{:class => @practice.implementation_text}=" #{@practice.implementation_text.capitalize}"
    .panel-body
      %p
        %span="How #{@company.name} implements the '#{@practice.guideline.name}' guideline"
        - if !mobile?
          %span.btn.implementation_status{:class => @practice.implementation_text}=" #{@practice.implementation_text.capitalize}"
      - if !@practice.legal_document.nil?
        %p
          %span This practice was extracted from:
          =link_to @practice.legal_document.name, @practice.legal_document.url

  .panel.panel-primary
    .panel-heading
      %h3= @practice.guideline.normalized_name
    .panel-body
      %p
        The following is a list of requirements for each implementation of this guideline. 
        For more details,
        =link_to "read about this guideline.", @practice.guideline

      =render 'guidelines/table'

