= content_for :head do
  %title= "#{@practice.company.name}'s practices regarding #{@practice.guideline.name}"

.container
  .page-header
    %h1
      ="#{@practice.company.name}'s practices"
      %small=@practice.guideline.name

  %h2 Implementation
  .panel.panel-default
    .panel-body
      %span="Does #{@practice.company.name} follow the '#{@practice.guideline.name}' guideline?"      
      %span.btn.implementation_status{:class => @practice.implementation_text}=" #{@practice.implementation_text.capitalize}"


  %h2 Guideline

  .panel.panel-default
    .panel-heading
      %h3.panel-title=@practice.guideline.name
    .panel-body
      %p= @practice.guideline.description
      %table.table
        %tr.info
          %th Criteria
          %th Result
        %tr
          %td= @practice.guideline.true_description
          %td ... in order to 'follow' this guideline

        %tr
          %td= @practice.guideline.false_description
          %td ... in order to 'not follow' this guideline

      %p
        For more details,
        =link_to "read about this guideline.", @practice.guideline

