= content_for :head do
  %title= "Journal >> #{@journal.name}"

.container
  .page-header
    %h1="Journal >> #{@journal.name}"
    - if can? :delete, Journal
      =link_to("Delete", journal_path(@journal), class: 'btn btn-xs btn-danger object_action', method: :delete)
    - if can? :edit, Journal
      =link_to("Edit", edit_journal_path(@journal), class: 'btn btn-xs btn-info object_action')

  %h3="Impact Factor: #{@journal.impact_factor.nil? ? 'n/a' : @journal.impact_factor}"

  .page-body
    %a{href: @journal.url} Link to Website

    .panel.panel-primary
      .panel-heading
        %h2 Articles
      .panel-body
        %p
          The following is a list of articles under this publication using your health data.

      %table.table
        %tr.info
          %th Journal
          %th Title
          %th View
          %th Download
          - if (can? :show, Article) || (can? :edit, Article) || (can? :delete, Article)
            %th Actions
        - @journal.articles.each do |a|
          %tr
            %td= a.journal.name
            %td= a.title
            %td
              %a{href: a.summary_url}="View on #{a.journal.name}"
            %td
              - if a.download_url.nil?
                "Not Available"
              - else
                %a{href: a.download_url}="Download"
            %td.actions
              - if can? :show, Article
                = link_to('Show', polymorphic_path([@journal,a]), {class: 'btn btn-xs btn-info'})
              - if can? :edit, Article
                = link_to('Edit', edit_polymorphic_path([@journal,a]), {class: 'btn btn-xs btn-info'})
              - if can? :delete, Article
                = link_to('Delete', polymorphic_path([@journal,a]), class: 'btn btn-xs btn-danger', method: :delete)
