!!! 5
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :head
    %title HealthAgreements

%body
  = render 'shared/navigation'
  = yield


  %hr
  %footer
    - footer_links.each do |text, path|
      %a= link_to text, path
